.container{

    border: solid;
    border-width: 1px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}   
h1 {
    color: red;
} 

#cabecera{

    background-color: blueviolet;
    color: #fff;
    font-size: 21px;
    text-align: left;
    font-weight: bolder;
    padding: 10px;
    -webkit-box-shadow: 0 5px 10px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0 5px 10px 0px rgba(0,0,0,0.75);
box-shadow: 0 5px 10px 0px rgba(0,0,0,0.75);

}

#cabecera ul li{
    display: inline;
    padding: 20px;
    top: 0;
}
.logo{
    padding: 0 20% 0 0!important;
}